<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Trading Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
{% include 'header.html' %}
<center>
    <h2>Current Openings In Company</h2>
    <table border="2">
        <tr>
            <th>Number of Vacancies</th><th>Designation</th><th>Technologies</th><th>Years Of Experience</th><th>Qualification</th>
        </tr>
        <tr>
            <td>1</td><td>Senior Manager</td><td>Any</td><td>5 years of exp</td><td>MBA</td>

        </tr>
        <tr>
            <td>4</td><td>Senior Engineer</td><td>Python,Django<br>Data Science,Sql,Pl/sql<br>UI Technologies</td><td>4 Years Of Exp</td>
            <td>Any Graduate</td>
        </tr>
        <tr>
            <td>7</td><td>Junior Developer</td><td>Python<br>Java<br>Sql
        <br>UI Technologys</td><td>0 to 2 Years</td><td>Qualification no bar</td>
        </tr>

    </table>

</center>
</body>
</html>